<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/menu.css">
    </head>

    <body>
        <div class="bg">

         <ul>
            <li><a href="assets">Assets</a></li>
            <li><a href="zones">Zones</a></li>
            <li><a href="persons">Persons</a></li>
            <li><a href="policies">Policies</a></li>
            <li><a href="vulns">Vulnerables</a></li>
            <li><a href="secincident">Security Incident</a></li>
            <li><a href="processes">Processes</a></li>
            <li><a href="reports">Reports</a></li>
        </ul> 

        <ul>

            <li><a href="addsecincident">Add Security Incident</a></li>
            <li><a href="searchsecincident">Search Security Incident</a></li>

        </ul>
            <br>

        {{ range . }}
            {{.id}}
        {{ end }}

        </div>
    </body>
</html>
