<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/menu.css">
    </head>

    <body>
        <h1>verwalter</h1>

         <ul>
           <li><a href="assets">Assets</a></li>
           <li><a href="networks">Networks</a></li>
           <li><a href="persons">Persons</a></li>
           <li><a href="policies">Policies</a></li>
           <li><a href="vulns">Vulnerables</a></li>
           <li><a href="secincident">Security Incident</a></li>
           <li><a href="processes">Processes</a></li>
           <li><a href="reports">Reports</a></li>
        </ul>


        <form action="assetresult" method="get">

            Descriptive Name: <input type="text" name="aname"><br>
            Address: <input type="text" name="aaddress"><br>
            Hostname: <input type="text" name="ahostname"><br>
            Purpose: <input type="text" name="apurpose"><br>
            Operating System: <input type="text" name="aos"><br>
            OS Version: <input type="text" name="aosversion"><br>
            Last OS Update: <input type="text" name="aosupdate"><br>
            Zone of asset: <input type="text" name="azone"><br>
            Active: <input type="text" name="aactive"><br>
            Responsible Department: <input type="text" name="aresp"><br>
            
            <input type="submit" value="Search">
        </form> 

    </body>
</html>
